# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
yarn.lock
/node_modules
/.pnp

# next.js
/.next
/out

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv local files
.env*.local
.env

# local folder
local

# local package manager cache
.pnpm-store

# local synced content database
data/*.db
data/*.db-shm
data/*.db-wal

# vercel
.vercel
